:root {
  font-size: 1rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.fontsize-8 {
  font-size: 0.8rem;
}

.visibility {
  visibility: hidden;
}

.relative {
  position: relative;
}

.clear-left {
  clear: both;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.flex-basis {
  flex-basis: 100%;
}

.text-color {
  color: black;
}

.width1 {
  width: 75%;
}

.bottom {
  bottom: 27px;
}

.left {
  left: 0;
}

.adjust {
  bottom: 2rem;
  left: 5.5rem;
}

.background1 {
  background-color: #f72210;
}

.color {
  color: #f72210;
}

.background2 {
  background: #f4f5f6;
}

.inline {
  display: inline;
  position: absolute;
}

.block {
  display: block;
}

.america {
  position: relative;
  font-size: 1rem;
}

.svg-width {
  width: 40%;
  height: auto;
}

.cloud,
.cloud + span,
.right1 {
  display: none;
}

.width3 {
  width: auto;
}

.width4 {
  width: 30px;
  height: 30px;
}

.layered-image {
  left: -20px;
}

.margin {
  margin: 0;
}

.height {
  height: 88.5%;
}

.z-index {
  z-index: 1;
  top: 5px;
}

.vertical-align {
  vertical-align: end;
}

.font-size {
  font-size: 2rem;
}

.width5 {
  width: 15%;
}

@media (max-width: 576px) {
  .display1 {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  body {
    font-size: 0.6rem;
  }

  .display1 {
    display: none;
  }
}

.debate {
  border-bottom: 2px ridge #d9d9d9;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .margin-top {
    margin-top: 14rem;
  }

  .svg-width {
    width: 20%;
  }

  .width2 {
    width: 10%;
  }

  .cloud,
  .cloud + span,
  .right1 {
    display: inline;
  }

  .display1 {
    display: none;
  }
}

@media (min-width: 1200px) {
  .margin {
    margin-left: 5%;
    margin-right: 5%;
  }
}
