:root {
  font-size: 1rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.fontsize-8 {
  font-size: 0.8rem;
}

.visibility {
  visibility: hidden;
}

.relative {
  position: relative;
}

.clear-left {
  clear: both;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

/* .text1 {
  vertical-align: middle;
} */

.flex-basis {
  flex-basis: 100%;
}

.text-color {
  color: black;
}

.width1 {
  width: 75%;
}

.bottom {
  bottom: 27px;
}

.left {
  left: 0;
}

.adjust {
  bottom: 2rem;
  left: 5.5rem;
}

.background1 {
  background-color: #f72210;
}

.color {
  color: #f72210;
}

.background2 {
  background: #f4f5f6;
}

.inline {
  display: inline;
  position: absolute;
}

.block {
  display: block;
}

.america {
  position: relative;
  font-size: 1rem;
}

.svg-width {
  width: 40%;
  height: auto;
}

.cloud,
.cloud + span,
.right1 {
  display: none;
}

.width3 {
  width: auto;
}

.width4 {
  width: 30px;
  height: 30px;
}

.layered-image {
  /* top: 100%; */
  left: -20px;
}

.height {
  height: 88.5%;
}

.z-index {
  z-index: 1;
  top: 5px;
}

.vertical-align {
  vertical-align: end;
}

.font-size {
  font-size: 2rem;
}

.width5 {
  width: 15%;
}

@media (min-width: 576px) {
  body {
    font-size: 0.6rem;
  }
}

.debate {
  border-bottom: 2px ridge #d9d9d9;
}

@media (max-width: 768px) {
}

@media (min-width: 768px) {
  /* .x {
    order: 2;
  }

  .y {
    order: 1;
  } */
  /* .width3 {
    width: 95%;
  } */
  .margin-top {
    margin-top: 14rem;
  }

  .svg-width {
    width: 20%;
  }

  .width2 {
    width: 10%;
  }

  .cloud,
  .cloud + span,
  .right1 {
    display: inline;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}

/* .footer-top h3 {
  font: bold 2.4rem/2.6rem "Roboto Condensed", sans-serif;
  margin-bottom: 1.5rem;
}

.footer-top p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.footer-top button {
  padding: 0.6rem 1rem 0.6rem 1.2rem;
  color: #fff;
  background-color: #f72210;
  font: bold 1.8rem/2.6rem "Roboto Condensed", sans-serif;
  border: none;
} */
